body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.navbar {
    background:   #254441;;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    margin: 0 20px;
}

.nav-list a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.nav-list a:hover {
    background: brown;
    color: #fff;
}

.nav-list a:focus {
    outline: none;
    background: linear-gradient(to right, #e74c3c, #3498db);
    color: #fff;
}
